html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

h1, h2 {
  font-family: 'Rajdhani', sans-serif;
}

h1 {
  font-size: 4rem;
  color: white;
  background-color: rgba(0, 0, 38, 0.7);
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-size: 1rem;
}

.jumbotron {
  color: white;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/Chips_small.jpg");
}

.jumbotron p {
  background-color: rgba(0, 0, 38, 0.6);
}

.section {
  width: 60vw;
  margin: 0 auto;
}

.image-box {
  height: 12rem;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.unit {
  padding-bottom: 1.5rem;
}

.unit p {
  padding-top: 1rem;
}

#paris {
  background-image: url("../images/paris.jpg");
}

#two_sandals {
  background-image: url("../images/soup.jpg");
}

#beach_paradise {
  background-image: url("../images/beach.jpeg");
}

#dasmoto {
  background-image: url("../images/brushes.jpg");
}

#excursion {
  background-image: url("../images/camp.jpg");
}

#broadway {
  background-image: url("../images/identify.svg");
}

#my_times {
  background-image: url("../images/myt-story.png");
}

#tea_cozy {
  background-image: url("../images/tea-cozy.jpg");
}

#secret_agent_supply {
  background-image: url("../images/moto.jpeg");
}

#tortoiseshell_optics {
  background-image: url("../images/glasses-bg.png");
}

#fotomatic {
  background-image: url("../images/fotomatic.jpg");
}

#colmar_academy {
  background-image: url("../images/students.jpg");
}

#jumpstart {
  background-image: url("../images/jumpstart.jpg");
  background-position: bottom;
}

#email {
  font-family: 'Inconsolata', monospace;
  text-align: center;
  padding-top: 5rem;
}
