* {
  font-family: 'Open Sans', sans-serif;
}

h1, h2 {
  font-family: 'Bellefair', serif;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 32px;
}

#email {
  font-family: 'Inconsolata', monospace;
}
