* {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

h1, h2 {
  font-family: 'Rajdhani', sans-serif;
}

h1 {
  font-size: 62px;
  text-align: left;
  display: block;
  color: white;
}

h2 {
  font-size: 48px;
}

header {
  top: 0px;
  text-align: center;
  position: fixed;
  height: 120px;
  width: 100%;
  background-image: url("../images/Chips_small.jpg")
}

.container {
  padding-top: 120px;
  width: 700px;
  margin: 0 auto;
}

#title {
  display: flex;
  justify-content: center;
}

#email {
  font-family: 'Inconsolata', monospace;
}
