* {
  background-color: white;
}

html {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}

header {
  display: flex;
  flex-direction: column;
  background-color: black;
}

header * {
  background-color: black;
}

nav {
  display: flex;
  background-color: firebrick;
  padding: 0.75rem 0rem;
  justify-content: center;
}

nav span {
  background-color: transparent;
}

h1, h4 {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
  padding-top: 0.25rem;
}

footer {
  padding: 5rem 0;
  display: flex;
  align-items: center;
  margin-top: 4rem;
  background-color: black;
}

p {
  background-color: black;
}

.company {
  width: 100%;
  display: flex;
  align-items: center;
}

.company img {
  height: 1.5rem;
  padding: 0rem 0.5rem;
}

.company span {
  padding: 0.66rem 0.5rem;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.main_banner {
  height: 25rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/moto.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main_banner span {
  font-weight: bold;
}

.products {
  width: 100%;
}

.product_image {
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
  padding: 2rem;
}

.products img {
  max-width: 9rem;
}

.products span {
  background-color: black;
}

.picture_with_caption {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.picture_with_caption span {
  text-align: center;
  padding: 0.5rem 0;
  width: 100%;
}

.info {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
}

.info_item {
  width: 35%;
}

.info_item p {
  padding: 1rem 2rem;
  margin-bottom: 0.25rem;
}

.info_item span {
  color: black;
}

#new_arrivals {
  background-color: transparent;
  padding-top: 9rem;
}

#new_arrivals_textbox {
  width: 20rem;
  padding: 2rem 3rem;
}

#nav_words {
  width: 960px;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}

#menu {
  display: none;
}

#example_products {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 3rem;
}

@media only screen and (max-width: 1024px) {
  .container {
    /* max-width: 960px; */
    width: 100%;
    margin: 0 auto;
  }

  #glasses {
    display: none;
  }

  .picture_with_caption {
    width: 47%;
  }

  #nav_words {
    display: none;
  }

  #menu {
    display: block;
    background-color: transparent;
  }
}

@media only screen and (max-width: 470px) {
  .main_banner {
    height: 15rem;
  }

  h1 {
    font-size: 1rem;
  }

  h4 {
    font-size: 0.77rem;
  }

  #new_arrivals {
    padding-top: 10rem;
  }

  #new_arrivals_textbox {
    padding: 1rem 2rem;
    width: 100%;
  }

  #watch {
    display: none;
  }

  .picture_with_caption {
    width: 90%;
  }

  #example_products {
    justify-content: center;
  }

  .info {
    flex-direction: column;
    justify-content: center;
  }

  .info_item {
    width: 90%;
    margin: 0 auto;
    padding-top: 0.5rem;
  }

  footer {
    text-align: center;
  }
}
