html {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.4;
  background-color: white;
}

.banner {
  height: 30rem;
  width: 100%;
  background-image: url("../images/glasses-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 960px;
  margin: 0 auto;
}

header {
  color: white;
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-clip: content-box;
  box-shadow: inset 1rem 0 0 0 transparent;
  padding-top: 1rem;
}

header span {
  padding: 1rem 2rem 1rem 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

#short_navbar {
  display: none;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
}

.motto_container {
  text-align: right;
  margin-right: -2rem;
}

.motto {
  display: inline-block;
  line-height: 1.2;
  background-color: white;
  margin-top: 10rem;
  padding: 1.5rem 5rem;
}

.services {
  display: flex;
  justify-content: center;
}

.service {
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  width: 5rem;
  text-align: center;
}

.service p {
  margin: 0;
}

.service img {
  width: 5rem;
}

#exams img {
  width: 3.5rem;
}

.info {
  display: flex;
  justify-content: center;
}

.info_item {
  width: 35%;
}

.info_item p {
  margin-top: 0;
  padding-top: 1rem;
}

.info_banner {
  width: 12rem;
  color: white;
  background-color: cadetblue;
}

.info_banner h4 {
  padding: 0.5rem 1.25rem;
  margin: 0;
}

#philosophy {
  padding-right: 5%;
}

footer {
  background-color: azure;
  margin-top: 5rem;
}

footer img {
  height: 1.5rem;
  padding-right: 1rem;
}

.copyright {
  display: flex;
  align-items: center;
  padding: 4rem 0 4rem 4rem;
}

@media only screen and (max-width: 1024px) {
  header {
    width: 100%;
    padding-top: 0;
  }

  .container {
    /* max-width: 960px; */
    width: 100%;
    margin: 0 auto;
  }

  .banner {
    height: 22rem;
  }

  .motto {
    margin-top: 5rem;
    padding: 0.75rem 4rem;
  }

  .motto_container {
    margin-right: 2rem;
  }

  h1 {
    font-size: 1.33rem;
  }
}

@media only screen and (max-width: 670px) {
  .banner {
    background-position: 20%;
    height: 17rem;
  }

  #company {
    display: none;
  }

  #full_navbar {
    display: none;
  }

  #short_navbar {
    display: block;
    padding: 1rem 0;
  }

  h1 {
    font-size: 1rem;
  }

  .motto {
    width: 100%;
    padding: 1rem 0;
    margin-top: 9rem;
    margin-right: 0;
  }

  .motto_container {
    width: 100%;
    text-align: center;
  }

  .services {
    flex-direction: column;
    align-items: center;
    padding: 3.77rem 0;
    font-size: 0.77rem;
  }

  .service {
    height: auto;
    padding: 0;
    justify-content: flex-start;
  }

  .service p {
    padding-top: 1rem;
  }

  #fittings, #delivery {
    padding-top: 1.54rem;
  }

  .info {
    flex-direction: column;
    align-items: center;
  }

  .info_banner {
    width: 100%;
    text-align: center;
  }

  .info_item {
    width: 100%;
  }

  #philosophy {
    padding: 0 0 4rem 0;
  }

  .copyright span {
    display: none;
  }

  .copyright {
    justify-content: center;
    padding-left: 0;
  }
}
